body{
    box-sizing: border-box;
    font-family: "Arial";
}



/* FONDO */
._bf_navbar{
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #612D82),
        color-stop(1, #47A19F),
        color-stop(1, #5D4287),
        color-stop(1, #57598D),
        color-stop(1, #526D92),
        color-stop(1, #4C8A99)
    );
    background-image: -o-linear-gradient(right, #612D82 0%, #47A19F 100%, #5D4287 100%, #57598D 100%, #526D92 100%, #4C8A99 100%);
    background-image: -moz-linear-gradient(right, #612D82 0%, #47A19F 100%, #5D4287 100%, #57598D 100%, #526D92 100%, #4C8A99 100%);
    background-image: -webkit-linear-gradient(right, #612D82 0%, #47A19F 100%, #5D4287 100%, #57598D 100%, #526D92 100%, #4C8A99 100%);
    background-image: -ms-linear-gradient(right, #612D82 0%, #47A19F 100%, #5D4287 100%, #57598D 100%, #526D92 100%, #4C8A99 100%);
    background-image: linear-gradient(to right, #612D82 0%, #47A19F 100%, #5D4287 100%, #57598D 100%, #526D92 100%, #4C8A99 100%);


}












.navbar-brand{
    margin: 0;

}

/* LOGO */
._bf_logo-head{
    margin: 0 100px;
    height: 85px;
}

.collapse{
    display: flex;
    justify-content: end;
}



._bf_botones{
    margin-right: 120px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

._bf_botones img{
    margin:20px 0;
}


@media (max-width:768px){
    ._bf_botones{
        display: none;
    }

}
