/*    -escritorio   */
body{
    background-image: url("../img/fondoIndexm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    box-sizing: border-box;
}

._bf_form{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    max-width: 350px;
    margin-bottom: 50px;
}

._bf_form ._bf_input{
    background: #fff;
    border:0;
    border-radius: 10px;
}


._bf_form ._bf_iniciarSesion{
    background: #04C2FF;
    border:0;
    border-radius: 10px;
    color: #fff;
}





._bf_contrasennaOlvidada{
    color: #fff;
    font-size: 13px;
}
._bf_contrasennaOlvidada a{
    color: #fff;
}




._bf_textoDebajoBoton{
    color: #fff;
    font-size: 13px;
}
._bf_textoDebajoBoton a{
    color: #fff;
}






._bf_recordarUsuario{
    color:#fff;
    max-width: 400px;

}



._bf_checkbox-label img{
    width: 15px;
}

._bf_titulo{
    color: #fff;
}


.error{
    font-size: 13px;
    font-weight: bold;
    color: rgb(228, 0, 0);
}


._bf_colorBlanco{
    color: #fff;
}



._bf_form ._bf_enviarFomulario{
    background: #DB7F67;
    border:0;
    border-radius: 10px;
    color: #fff;
}
