body{
    background-image: url("../img/fondo_Index.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
    box-sizing: border-box;
}


._bf_contenedor{
    margin: 50px -15px;
}


/*    BOTONES   */

._bf_boton{
    width: 217px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color:#FFF;
}

._bf_botones ._bf_iniciar-sesion{
    border: 3px solid #FFF;
    background: rgba(255, 255, 255, 0);
}

._bf_botones ._bf_crear-cuenta{
    background: #04C2FF;
    border: 0px;
    margin-left:15px;
}



/*    LOGO   */
._bf_logo{
    margin: 120px 0 ;
}

/*   REDES   */
._bf_redes{
    font-size: 30px;
    color:#fff;
    margin-bottom: 15px ;
}
._bf_redes ._bf_ig:hover{
    color:#04C2FF;
}
._bf_redes ._bf_fb:hover{
    color:#04C2FF;
}
._bf_redes ._bf_tw:hover{
    color:#04C2FF;
}
._bf_redes ._bf_in:hover{
    color:#04C2FF;
}


/* CORREO */
._bf_correo a{
    font-size: 15px;
    text-decoration: none;
    color:#fff
}
._bf_correo a:hover{
    text-decoration: none;
    color:#04C2FF;
}

