body{
    box-sizing: border-box;
    font-family: "Arial";
}



/* FONDO */
._bf_navbar{
    background: rgb(117,13,138);
    background: linear-gradient(90deg, rgba(117,13,138,1) 0%, rgba(0,191,203,1) 100%);
}


/* LOGO */
._bf_logo-head{
    margin: 0 100px;
    height: 85px;
}

.collapse{
    display: flex;
    justify-content: end;
}



._bf_botones{
    margin-right: 120px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

._bf_botones img{
    margin:20px 0;
}


@media (max-width:767px){
    ._bf_botones{
        display: none;
    }

}
