body{
    background-image: url("../img/textura.png");
    font-family: "Arial";
    box-sizing: border-box;
}


.container{
    max-width: 1000px;
    background-color: #fff;
}


._bf_titulos h1,
._bf_titulos h2,
._bf_titulos-mobile h1,
._bf_titulos-mobile h2{
    color:rgba(97, 98, 99, .9);
}


/* background: #04C2FF; */

@media (min-width:768px){
    ._bf_titulos-mobile{
        display: none;
    }

}

@media (max-width:768px){
    ._bf_titulos{
        display: none;
    }

}


._bf_especialidad{
    color: #fff;
    font-size: 20px;
    background: #04C2FF;
    border: none;
    border-radius: 10px;
    width: 210px;

}



