.card{
    background:#283951;
    border-radius: 0;
}

.card-body{
    padding: 0;
}


/* LINKS */
.card .card-body a{
    color:#fff;
    text-decoration: none;
}
.card .card-body a:hover{
    color:#fff;
    text-decoration: none;
}


/* COL */
.card .card-body .row .col{
    padding: 0;
}


/* REDES */
._bf_redes a img{
    height: 21px;
    margin: 25px 0;
}

._bf_redes a ._bf_espaciado-redes{
    margin-right: 25px;
}



/* UBICACION */
._bf_ubicacion{
    display: block;
    margin: 25px 0;
}


/* CORREO */
._bf_correo{
    display: block;
    margin: 25px 0;
}

@media screen and (max-width: 767px) {
    ._bf_datos-footer-horizontal{
        display: none;
    }
}


@media screen and (min-width: 767px) {
    ._bf_datos-footer-vetical{
        display: none;
    }

    ._bf_ubicacion{
        width: 200px;
    }
}


