body{
    background-image: url("../img/textura.png");
    font-family: "Arial";
    box-sizing: border-box;
}


.container{
    width: 1000px;
    background-color: #fff;
    padding: 60px;
}


._bf_titulos h1,._bf_titulos h2{
    color:rgba(97, 98, 99, .9);
}

._bf_titulos h2{
    font-size: 30px;
    margin-bottom:0 ;
}
._bf_titulos h1{
    font-size: 60px;
    margin-bottom:60px ;
}

._bf_especialidades button{
    background: #04C2FF;
    border: 0px;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    color:#FFF;
}


._bf_espacioEntreBotonoes{
    height: 20px;
}

