body{
    background-image: url("../img/fondo_Index.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Arial";
    box-sizing: border-box;
    
}


.container{
    padding: 50px;
}

/*    BOTONES   */

._bf_boton{
    width: 217px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color:#FFF;
}

._bf_botones ._bf_iniciar-sesion{
    border: 3px solid #FFF;
    background: rgba(255, 255, 255, 0);
}

._bf_botones ._bf_crear-cuenta{
    background: #04C2FF;
    border: 0px;
    margin-left:15px;
}



/*    LOGO   */
._bf_logo{
    margin: 120px 0 ;
}

/*   REDES   */
._bf_redes a img{
    margin-left:15px ;
}

/* CORREO */
._bf_correo{
    color: #FFF;
    text-decoration: none;
}
._bf_correo:hover{
    color: #FFF;
    text-decoration: none;
}