
body{
    box-sizing: border-box;
    font-family: "Arial";
    height: auto;
}


._bf_footer{
    background-color:#283951;
    border-radius: 0;

    /* position: fixed; */
    bottom: 0;
}

._bf_logo-footer{
    height: 85px;
}





._bf_footer ._bf_ubicacion a,
._bf_footer ._bf_contacto a{
    color: #fff;
    text-decoration: none;
}


/* ._bf_redes{
    background:red;
} */

@media (max-width:768px){
    ._bf_redes{
        max-width: 250px;
    }

}
